<script type="text/template"
        route="^release\/(.*)"
        source="$endpoint/catalog/release/$1"
        transform="transformReleasePage"
        completed="completedReleasePage">
    {{#loading}}
    {{>loading-view-black}}
    {{/loading}}
    {{#error}}
        {{>error}}
    {{/error}}
    {{#data}}
        {{#release}}
            <div class="release-page type-{{type}}">
                <div class="release-bg" style="background-image: url('{{coverImage}}')">
                </div>
                <div class="container">
                    {{>release-info}}
                    <div class="release-cols">
                        <div class="col-1">
                            <div class="release-summary">
                                {{>release-art-play}}
                            </div>
                            {{>release-links}}
                        </div>
                        <div class="col-2">
                            {{>release-tracks}}
                            {{>release-artists}}
                            {{#showMerch}}
                                {{>release-merch}}
                            {{/showMerch}}
                        </div>

                    </div>
                </div>
            </div>
        {{/release}}
    {{/data}}
</script>

<script type="text/template"
        mustache-name="release-art-play">
<div class="release-art-play aspect-container aspect-container-1x1">
    <img src="{{coverImage}}" class="cover" />
    <button class="button button--cta"
            action="playSongs"
            role="play-release"
            release-id="{{_id}}">
        <i class="fa fa-play inactive"></i>
        <i class="fa fa-pause active"></i>
    </button>
</div>

</script>

<script type="text/template"
        mustache-name="release-info">
<div class="release-info">
    <h1>{{release.title}}</h1>
    <h3 class="release-rendered-artists">{{renderedArtists}}</h3>
    <div class="release-date">{{>albumReleaseDates}}</div>
</div>
</script>

<script type="text/template"
        mustache-name="release-links">
<div class="release-links">
    <a  class="button button--cta purchase-link"
        click-action="Click Download Gold"
        target="_blank"
        title="Download Track"
        track-title="{{title}}"
        action="accessDownloadOrModal"
        href="{{downloadLink}}">
        <span class="fa fa-download"></span>
        <span>Download with Gold</span>
    </a>
    {{#purchaseLinks}}
    <a class="button button--cta purchase-link"
        click-action="Click Release Purchase"
        click-category="Release Links"
        click-label="{{label}}"
        href="{{original}}">
        <span class="fa fa-{{icon}}"></span>
        <span>{{label}}</span>
        <span class="cta">{{cta}}</span>
    </a>
    {{/purchaseLinks}}
</div>
</script>

<script type="text/template"
        mustache-name="release-tracks">
{{#hasManyTracks}}
<div class="release-tracks">
    <table>
        <thead>
            <tr>
                <th class="shrink">#</th>
                <th class="shrink nohpad"></th>
                <th>Title</th>
                <th>Artists</th>
                <th class="col-xs-hidden col-md-visible">Time</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            {{#tracks}}
            <tr dblc-action="playSongDblC">
                <td class="shrink">{{trackNumber}}.</td>
                <td class="shrink nohpad">
                  {{>playSong}}
                </td>
                <td class="longer-width">
                  <div class="scroll-container"
                       onmouseover="scrollTrackTitle(this)" onmouseleave="removeScrollTrackTitle(this)">
                    <span class="scroll-title artists">{{title}}</span>
                  </div>
                  {{>unlicensable}}
                </td>
                <td class="longer-width artists">
                    <div class="scroll-container"
                       onmouseover="scrollTrackTitle(this)" onmouseleave="removeScrollTrackTitle(this)">
                    <span class="scroll-title">
                      {{>track-artists}}
                    </span>
                  </div>
                </td>
                <td class="col-xs-hidden col-md-visible">{{time}}</td>
                <td class="push-right">
                    {{>trackButtons}}
                </td>
            </tr>
            {{/tracks}}
        </tbody>
    </table>
</div>
{{/hasManyTracks}}
{{^hasManyTracks}}
<div style="display: none;">
    {{#tracks}}
        {{>playSong}}
    {{/tracks}}
</div>

{{/hasManyTracks}}
</script>

<script type="text/template"
        mustache-name="release-artists">
<div class="release-artists{{#numArtistBeakpoints}} num-artists-{{.}}{{/numArtistBeakpoints}} num-artists-{{releaseArtists.length}}">
{{#releaseArtists}}
    <div class="release-artist">
        <a class="artist-image aspect-container aspect-container-16x9" href="{{artistPageUrl}}" style="background-image: url('{{profileImageUrl}}')" click-action="Click Artist Profile" label="Artist Image" click-category="Artist Links">
        </a>
        <div class="artist-info">
            <h3><a href="{{artistPageUrl}}" click-action="Click Artist Profile" label="Artist Name" click-category="Artist Links">{{name}}</a></h3>
            {{#aboutMD}}
            <div class="about">{{{aboutMD}}}</div>
            {{/aboutMD}}
            <div class="socials">
                {{#socials}}
                <a href="{{link}}" target="_blank" click-action="Click Artist {{name}}" click-label="{{artistName}} {{name}}" click-category="Artist Links" target="_blank"><i class="fa fa-{{icon}}"></i> {{label}}</a>
                {{/socials}}
            </div>
        </div>
    </div>
    <div class="release-artist-break"></div>
{{/releaseArtists}}
</div>
</script>

<script type="text/template"
        mustache-name="release-merch">
    <div source="https://shop.monstercat.com/collections/website-featured/products.json" template="release-merch"></div>
</script>

<script type="text/template"
        template-name="release-merch"
        transform="transformReleaseMerch">
<div class="release-merch">
    {{#loading}}
    {{>loading-view}}
    {{/loading}}
    {{#error}}
    {{/error}}
    {{#data}}
        <header class="flex top-cta">
            <div class="col-xs-8">
                <h3 class="">Monstercat Merch</h3>
            </div>
            <div class="col-xs-4 text right">
                <a click-action="Click Merch View All" href="https://shop.monstercat.com" class="button button--black button--icon button--transparent">
                    View all
                    <i class="fa fa-chevron-right"></i>
                </a>
            </div>
        </header>
        <ul class="art-list art-list--full-width">
        {{#products}}
            <li>
                <a class="silent" click-action="Click Merch Product" click-label="Product: {{title}}" click-category="Release Page" href="https://shop.monstercat.com/products/{{handle}}" target="_BLANK" title="{{title}}">
                    <div class="image-wrapper">
                        <img src="/img/artwork-merch.jpg" class="preload" />
                        <img src="{{ images.0.src }}"/>
                    </div>
                    <label class="title one-line-ellipsis">{{title}}</label>
                </a>
            </li>
        {{/products}}
        </ul>
    {{/data}}
</div>
</script>

