.release-page {
  position: relative;
  min-height: 110vh;
  overflow: hidden;
  padding-bottom: 2em;
}

.release-page > .container {
  z-index: 1;
  position: relative;
  max-width: 1000px;
}

.release-page .release-bg {
  position: absolute;
  background: center center;
  filter: blur(30px);
  background-size: cover;
  width: 110%;
  height: 110%;
  left: -5%;
  top: -5%;
  z-index: 0;
  text-align: center;
  transform: scale(1.0);
}

.release-bg:before {
  content: " ";
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: -1;
  background: rgba(0,0,0,.5);
  left: 0;
  top: 0px;
}

.release-page .panel {
  margin-bottom: 0px;
  padding: 5px;
}

.release-info {
  padding: 40px 0;
  background: #fff;
  margin: 1em 0 5px 0;
  padding: 1em;
}

.release-info h1 {
  margin: 0px;
}

.release-info h2 {
  margin: 0px;
}

.release-art-play {
  width: 100%;
  position: relative;
  display: block;
  margin: 0 auto 5px;
  overflow: visible;
}

.release-art-play img {
  width: 100%;
  height: 100%;
  left: 0px;
  top: 0px;
  position: absolute;
}

.release-art-play:hover .button {
  opacity: 1;
  transform: scale(1.1);
}

.release-art-play .button {
  width: 120px;
  height: 120px;
  top: 50%;
  margin-top: -60px;
  margin-left: -60px;
  left: 50%;
  border-radius: 50%;
  background: #000;
  color: #fff;
  font-size: 64px;
  text-align: center;
  line-height: 120px;
  text-align: center;
  opacity: 0.75;
  position: absolute;
  background: rgba(0,0,0,0.5);
  border: 5px solid #fff;
}

.release-art-play .button:hover {
  background: #fff;
  border-color: #fff;
  color: dodgerblue;
}

.release-art-play .button .fa.fa-play {
  margin-right: -10px;
}

.release-art-play .button .fa.fa-pause {
  font-size: 58px;
}

.release-links {
  display: flex;
  flex-direction: column;;
}

.purchase-link {
  display: flex;
  position: relative;
  line-height: 60px;
  padding: 0 10px;
  height: 60px;
}

.purchase-link .fa {
  font-size: 32px;
  width: 60px;
  text-align: center;
  float: left;
  display: block;
  margin-top: 10px;
}

.purchase-link .cta {
  text-transform: none;
  position: absolute;
  right: 8px;
  top: 0px;
  font-size: 0.9em;
  padding: 0px 8px;
  background: rgba(255, 255, 255, 0.25);
  height: 24px;
  line-height: 24px;
  top: 50%;
  margin-top: -12px;
}

.release-artists {
  display: block;
}

.release-artists .release-artist-break,
.release-artists.num-artists-gte-4.num-artists-gte-9 .release-artist-break:nth-child(4n),
.release-artists.num-artists-gte-4.num-artists-gte-9.num-artists-gte-13 .release-artist-break:nth-child(6n+1) {
  display: none;
}


.release-artists.num-artists-gte-4 {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}

.release-artists.num-artists-gte-4 .release-artist {
  width: 49.5%;
  margin-bottom: 1%;
}

.release-artists.num-artists-gte-4 .release-artist-break:nth-child(4n) {
  display: block;
  height: 0;
  width: 100%;
}

.release-artists.num-artists-gte-9 .release-artist {
  width: 33%;
  margin-bottom: 0.5%;
}

.release-artists.num-artists-gte-9 .release-artist .socials {
  display: none;
}

.release-artists.num-artists-gte-9 .release-artist h3 {
  margin-bottom: 0px;
  font-size: 22px;
}


.release-artists.num-artists-gte-9 .release-artist-break:nth-child(6n+1) {
  display: block;
  height: 0;
  width: 100%;
}

.release-artists.num-artists-gte-13 .release-artist {
  width: 24.5%;
  margin-bottom: 0.6%;
  padding: 0.5em;
}

.release-artists.num-artists-gte-13 .release-artist-break:nth-child(13n+1) {
}


.release-artist {
  background: #fff;
  padding: 1em;
  margin-bottom: 5px;
}

.num-artists-1 .release-artist {
  background: #fff;
  padding: 1em;
  width: 100%;
}

.release-artist .artist-image {
  height: auto;
  display: block;
  background: center center no-repeat;
  background-size: 100% auto;
  margin-bottom: 0.25em;
  transition: all 0.25s ease;
}

.release-artist .artist-image:hover {
  background-size: 110% auto;
}

.release-artist .artist-info {
  width: 100%;
  padding-right: 0.5em;
}

.release-artist .artist-info h3 {
  margin-bottom: 0.25em;
}

.release-artist .artist-info h3 a {
  text-decoration: none;
}

.release-artist .about p {
  margin-bottom: 1em;
}

.release-artist .socials {
  line-height: 1.3;
}

.release-artist .socials a {
  text-decoration: none;
  display: inline-block;
  padding: 0.25em 0.5em;
  font-size: 0.8;
  background: #e0e0e0;
  color: #666;
  margin-bottom: 0.25em;
  transition-duration: 0s;
}

.release-artist .socials a i {
  margin-right: 3px;
}

.release-artist .socials a:hover {
  color: #fff;
  background: dodgerblue;
}

.release-page .release-tracks {
  background: #fff;
  margin-bottom: 5px;
}

.release-page .release-tracks .scroll-container {
  max-width: 200px;
}

.release-cols {
  display: flex;
  padding: 0 0 2em 0;
  margin: 0 auto;
}

.release-cols .col-1 {
  flex: 0 0 40%;
  margin-right: 5px;
}

.release-cols .col-2 {
  width: 100%;
}

.release-merch {
  margin-bottom: 5px;
  background: #fff;
  padding: 1em;
}

.release-merch a.button {
  padding: 0.25em;
}

.release-merch .art-list--full-width.art-list li {
  width: 25%;
}
.release-merch .art-list--full-width.art-list li:nth-child(5),
.release-merch .art-list--full-width.art-list li:nth-child(6),
.release-merch .art-list--full-width.art-list li:nth-child(7),
.release-merch .art-list--full-width.art-list li:nth-child(8),
.release-merch .art-list--full-width.art-list li:nth-child(9),
.release-merch .art-list--full-width.art-list li:nth-child(10),
.release-merch .art-list--full-width.art-list li:nth-child(11) {
  display: none;
}

.release-page.type-Podcast .col-1 {
  flex: 0 0 30%;
}


.release-page.type-Album .col-1 {
  flex: 0 0 30%;
}

@media screen and (max-width: 767px) {
  .release-page .release-cols {
    display: block;
  }

  .release-page h1 {
    font-size: 22px;
  }

  .release-page h3.release-rendered-artists {
    font-size: 18px;
  }

  .release-cols .col-1 {
    flex: inherit;
    margin-right: 0px;
  }

  .release-merch .art-list--full-width.art-list li {
    width: 50%;
  }
}